In [2]:
import pandas as pd

In [6]:
mydata_02 = pd.read_csv('/home/jodogo/Python-finance/time series data/Data_02.csv')

In [7]:
mydata_02.head()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
0,2017-03-03,136.63,137.3300,136.08,137.1300,11095605.0,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
1,2017-03-02,137.09,137.8200,136.31,136.7603,12243028.0,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
2,2017-03-01,136.47,137.4800,136.30,137.4200,16257010.0,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
3,2017-02-28,136.79,136.8050,134.75,135.5400,16112092.0,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
4,2017-02-27,135.26,137.1846,135.02,136.4100,14306668.0,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0

In [8]:
mydata_02.tail()

,Date,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
1200,2012-05-24,32.95,33.21,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.21,31.77,33.0300,50237200.0
1201,2012-05-23,31.37,32.50,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.50,31.36,32.0000,73600000.0
1202,2012-05-22,32.61,33.59,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.59,30.94,31.0000,101786600.0
1203,2012-05-21,36.53,36.66,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.66,33.00,34.0300,168192700.0
1204,2012-05-18,42.05,45.00,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.00,38.00,38.2318,573576400.0

In [9]:
mydata_02 = pd.read_csv('/home/jodogo/Python-finance/time series data/Data_02.csv', index_col='Date')

In [10]:
mydata_02.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-03-03,136.63,137.3300,136.08,137.1300,11095605.0,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
2017-03-02,137.09,137.8200,136.31,136.7603,12243028.0,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
2017-03-01,136.47,137.4800,136.30,137.4200,16257010.0,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
2017-02-28,136.79,136.8050,134.75,135.5400,16112092.0,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
2017-02-27,135.26,137.1846,135.02,136.4100,14306668.0,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0

In [11]:
mydata_02.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2012-05-24,32.95,33.21,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.21,31.77,33.0300,50237200.0
2012-05-23,31.37,32.50,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.50,31.36,32.0000,73600000.0
2012-05-22,32.61,33.59,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.59,30.94,31.0000,101786600.0
2012-05-21,36.53,36.66,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.66,33.00,34.0300,168192700.0
2012-05-18,42.05,45.00,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.00,38.00,38.2318,573576400.0

In [13]:
mydata_02.set_index('High')

,Open,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
High,,,,,,,,,,,
137.3300,136.63,136.08,137.1300,11095605.0,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
137.8200,137.09,136.31,136.7603,12243028.0,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
137.4800,136.47,136.30,137.4200,16257010.0,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
136.8050,136.79,134.75,135.5400,16112092.0,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
137.1846,135.26,135.02,136.4100,14306668.0,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0
...,...,...,...,...,...,...,...,...,...,...,...
33.2100,32.95,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.2100,31.77,33.0300,50237200.0
32.5000,31.37,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.5000,31.36,32.0000,73600000.0
33.5900,32.61,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.5900,30.94,31.0000,101786600.0
36.6600,36.53,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.6600,33.00,34.0300,168192700.0
45.0000,42.05,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.0000,38.00,38.2318,573576400.0

In [14]:
mydata_02

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2017-03-03,136.63,137.3300,136.08,137.1300,11095605.0,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
2017-03-02,137.09,137.8200,136.31,136.7603,12243028.0,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
2017-03-01,136.47,137.4800,136.30,137.4200,16257010.0,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
2017-02-28,136.79,136.8050,134.75,135.5400,16112092.0,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
2017-02-27,135.26,137.1846,135.02,136.4100,14306668.0,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-05-24,32.95,33.2100,31.77,33.0300,50237200.0,0.0,1.0,32.95,33.2100,31.77,33.0300,50237200.0
2012-05-23,31.37,32.5000,31.36,32.0000,73600000.0,0.0,1.0,31.37,32.5000,31.36,32.0000,73600000.0
2012-05-22,32.61,33.5900,30.94,31.0000,101786600.0,0.0,1.0,32.61,33.5900,30.94,31.0000,101786600.0
2012-05-21,36.53,36.6600,33.00,34.0300,168192700.0,0.0,1.0,36.53,36.6600,33.00,34.0300,168192700.0
2012-05-18,42.05,45.0000,38.00,38.2318,573576400.0,0.0,1.0,42.05,45.0000,38.00,38.2318,573576400.0

In [15]:
mydata_03 = mydata_02.set_index('Volume')

In [16]:
mydata_03

,Open,High,Low,Close,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Volume,,,,,,,,,,,
11095605.0,136.63,137.3300,136.08,137.1300,0.0,1.0,136.63,137.3300,136.08,137.1300,11095605.0
12243028.0,137.09,137.8200,136.31,136.7603,0.0,1.0,137.09,137.8200,136.31,136.7603,12243028.0
16257010.0,136.47,137.4800,136.30,137.4200,0.0,1.0,136.47,137.4800,136.30,137.4200,16257010.0
16112092.0,136.79,136.8050,134.75,135.5400,0.0,1.0,136.79,136.8050,134.75,135.5400,16112092.0
14306668.0,135.26,137.1846,135.02,136.4100,0.0,1.0,135.26,137.1846,135.02,136.4100,14306668.0
...,...,...,...,...,...,...,...,...,...,...,...
50237200.0,32.95,33.2100,31.77,33.0300,0.0,1.0,32.95,33.2100,31.77,33.0300,50237200.0
73600000.0,31.37,32.5000,31.36,32.0000,0.0,1.0,31.37,32.5000,31.36,32.0000,73600000.0
101786600.0,32.61,33.5900,30.94,31.0000,0.0,1.0,32.61,33.5900,30.94,31.0000,101786600.0
168192700.0,36.53,36.6600,33.00,34.0300,0.0,1.0,36.53,36.6600,33.00,34.0300,168192700.0
573576400.0,42.05,45.0000,38.00,38.2318,0.0,1.0,42.05,45.0000,38.00,38.2318,573576400.0